/GUIACOLECCIONES/nbproject/private/
/GUIACOLECCIONES/build/
/Perros/nbproject/private/
/Alumnos/nbproject/private/
/Negocio/nbproject/private/
/Paises/nbproject/private/
/Cine/nbproject/private/
/EXTRA01ArregloDinamico/nbproject/private/
/Extra02CantantesFamosos/nbproject/private/
/Library/nbproject/private/
/EXTRA04CodigosPostales/nbproject/private/